@font-face {
    font-family: "titles";
    src: url("../fonts/titles.ttf");
}

body{
    background-color: rgb(165, 228, 165);
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.canvapro{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    position: relative;
    /* bottom: -70px; */
    z-index: 0;
}

#title{
    font-family: "titles",'Arial', cursive;
    text-shadow: 3px 2px green;
    display:flex;
    justify-content: center;
    margin-top: 4%;
}

#puntaje{
    display:flex;
    justify-content:space-evenly;
    margin: 10px;
    width: 500px;
}

h2{
    font-family: "titles",'Arial', cursive;
    font-size: 12px;
}